:root {

    --c1: #94cdeb;
    --c2: #ffb1c6;
    --c3: #ff9bb6;
    --c4: #ff777c;
    --c5: #ffafb2;
    --c6: #7a0000;
    --c7: #7c4006;
    --c8: #f8dcbb;
    --c9: #f881a1;
    --c10: #00c367;
    --c11: #fae072;
    --c12: #ffffff;
    --c13: #000000;
    --c14: #6fd2e4;
    --c15: #ff699a;
    --c16: #4b0000;
    --c17: #92ffd3;
    --c18: #1b2558;
    --c19: #2f9d7c;
    --c20: #00b761;
    --c21: #2d2d2d;
    --c22: #c1433c;
    --c23: #707070;
    --c24: #eeeeee;
    --c25: #cccccc;
    --c26: #dbdbdb;
    --c27: #f6f6f6;
    --c28: #515151;
    --c29: #4fe28a;
    --c30: #ff699b48;
    --c31: #fae172a0;

    --f1: fantasy;
    --f2: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    --s1: 22px;
    --s2: 35px;
    --s3: 30px;
    --s4: 55px;
    --s5: 18px;
    --s6: 50px;
    --s7: 25px;
    --s8: 40px;
    --s9: 15px;
    --s10: 13px;

}